/*este e um arquivo .css*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*ALTERANDO VALORES GLOBAIS*/

*{
    padding: 0;
    margin: 0;

}

html, body{
    height: 100%;

    font-family: 'Montserrat', sans-serif;
        
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--backgroundColor-gray);

}

/*CORES GLOBAIS*/

:root {
    --text-bold: #212353;
    --text-sample: #4B5D68;
    --text-white: #ffffff;
    --text-black: #000000;

    --buttom-purple: #9C69E2;
    --buttom-pink: #F063B8;

    --backgroundColor-pink: #F063B81C;
    --backgroundColor-green: #68C9BA1C;
    --backgroundColor-purple: #9C69E21C;
    --backgroundColor-blue: #2D9CDB1C;
    --backgroundColor-gray: #f1f1f1;
    --backgroundColor-gray2: #f9f9f9;

    --boxShadow: #262626;

}

/*FORM*/

form{
    padding: 5%;
    width: 40vw;
    height: 40vh;

    border-radius: 35px;

    background-image: url(../img/backgroundCompleto.png);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;

    box-shadow: 0px 3px 5px -5px var(--boxShadow);

}

form #blocoLogin, #blocoSenha{
    padding: 1%;
    width: 98%;
    height: auto;

    /*background-color: blue;*/

    display: flex;
    align-items: center;
    justify-content: center;

}

form #blocoLogin p{
    padding: 1%;
    width: 10%;
    height: auto;

    text-align: right;

    font-weight: 600;
    font-size: 16px;
    color: var(--text-bold);

}

form #blocoLogin input{
    padding: 1%;
    width: 48%;
    height: auto;

    font-weight: 400;
    font-size: 14px;
    color: var(--text-sample);

    border: none;

    background-color: var(--backgroundColor-gray);

    box-shadow: 0px 3px 5px -5px var(--boxShadow);

    transition: box-shadow, background-color, 0.5s;

}

form #blocoLogin input:hover{
    box-shadow: 0px 0px 0px 0px var(--boxShadow);

    background-color: var(--backgroundColor-gray2);

}

form #blocoSenha p{
    padding: 1%;
    width: 10%;
    height: auto;

    text-align: right;

    font-weight: 600;
    font-size: 16px;
    color: var(--text-bold);

}

form #blocoSenha input{
    padding: 1%;
    width: 48%;
    height: auto;

    font-weight: 400;
    font-size: 14px;
    color: var(--text-sample);

    border: none;

    background-color: var(--backgroundColor-gray);

    box-shadow: 0px 3px 5px -5px var(--boxShadow);

    transition: box-shadow, background-color, 0.5s;

}

form #blocoSenha input:hover{
    box-shadow: 0px 0px 0px 0px var(--boxShadow);

    background-color: var(--backgroundColor-gray2);

}

form #blocoBotao{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1%;
    width: 98%;
    height: auto;

    /*background-color: blue;*/


}

form #blocoBotao input{
    padding: 1%;
    width: 28%;
    height: auto;

    font-weight: 600;
    font-size: 16px;
    color: var(--text-black);

    border: none;
    background-color: var(--backgroundColor-purple);

    box-shadow: 0px 3px 5px -5px var(--boxShadow);

    transition: background-color, box-shadow, color, .5s;

}

form #blocoBotao input:hover{
    color: var(--text-white);

    background-color: var(--buttom-purple);

    box-shadow: 0px 0px 0px 0px var(--boxShadow);

}