@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;

}

html, body {
    /*height: 100%;

    background-color: var(--buttom-purple);

    display: flex;
    align-items: center;
    justify-content: center;*/

    font-family: 'Montserrat', sans-serif;

}

/*CORES GLOBAIS*/

:root {
    --text-bold: #212353;
    --text-sample: #4B5D68;
    --text-white: #ffffff;
    --text-black: #000000;

    --buttom-purple: #9C69E2;
    --buttom-pink: #F063B8;

    --backgroundColor-pink: #F063B81C;
    --backgroundColor-green: #68C9BA1C;
    --backgroundColor-purple: #9C69E21C;
    --backgroundColor-blue: #2D9CDB1C;
    --backgroundColor-gray: #f1f1f1;
    --backgroundColor-gray2: #f9f9f9;

    --boxShadow: #262626;

}

/* LOGO */

#logo {
    padding: 2%;
    margin: 2%;
    width: 92%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#logo #imagem {
    width: 100%;
    height: auto;

}

#logo #imagem img {
    width: 100%;
    height: auto;

    text-align: center;

}

#logo p {
    padding: 1%;
    width: 98%;
    height: auto;

    font-size: 16px;
    font-weight: 300;
    color: var(--text-sample);

    text-align: center;

}

/* FOMULARIO */
#form {
    padding: 5%;
    width: auto;
    height: auto;

    background-color: var(--backgroundColor-gray);
    background-image: url(../img/backgroundCompleto.png);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 5px;

    box-shadow: 0px 3px 5px -5px #262626;

}

/* CONTAINER */

#form #container {
    width: 300px;
    height: auto;

    /*background-color: blue;*/

    border-radius: 5px;

}

#form #container #nome {
    padding: 2%;
    width: 96%;
    height: auto;

    /*background-color: darkblue;*/

}

#form #container #nome p {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-bold);

    padding: 1%;
    width: 98%;
    height: auto;

}

#form #container #nome input {
    padding: 3%;
    width: 94%;
    height: auto;

    border: none;

    font-size: 14px;
    font-weight: 100;
    color: var(--text-sample);

    box-shadow: 0px 3px 5px -5px var(--boxShadow);

    transition: background-color, .5s;

}

#form #container #nome input:hover {
    background-color: var(--backgroundColor-gray);

}

#form #container #email {
    padding: 2%;
    width: 96%;
    height: auto;

    /*background-color: darkblue;*/

}

#form #container #email p {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-bold);

    padding: 1%;
    width: 98%;
    height: auto;

}

#form #container #email input {
    padding: 3%;
    width: 94%;
    height: auto;

    border: none;

    font-size: 14px;
    font-weight: 100;
    color: var(--text-sample);

    box-shadow: 0px 3px 5px -5px var(--boxShadow);

    transition: background-color, .5s;

}

#form #container #email input:hover {
    background-color: var(--backgroundColor-gray);

}

#form #container #senha {
    padding: 2%;
    width: 96%;
    height: auto;

    /*background-color: darkblue;*/

}

#form #container #senha p {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-bold);

    padding: 1%;
    width: 98%;
    height: auto;

}

#form #container #senha input {
    padding: 3%;
    width: 94%;
    height: auto;

    border: none;

    font-size: 14px;
    font-weight: 100;
    color: var(--text-sample);

    box-shadow: 0px 3px 5px -5px var(--boxShadow);

    transition: background-color, .2s;

}

#form #container #senha input:hover {
    background-color: var(--backgroundColor-gray);

}

#form #container #acessar {
    padding: 2%;
    width: 96%;
    height: auto;

    /*background-color: darkblue;*/

    display: flex;
    align-items: center;
    justify-content: left;

}

/* BOTOES */

#form #container #botoes {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: auto;

    /*background-color: cadetblue;*/

}

#form #container #botoes #acessar {
    width: 100%;
    height: auto;

}

#form #container #botoes #acessar button {
    padding: 4%;
    width: 100%;
    height: auto;

    border: none;

    font-size: 14px;
    font-weight: 600;
    color: var(--text-bold);

    background-color: var(--backgroundColor-gray2);

    box-shadow: 0px 3px 5px -5px var(--boxShadow);

    border-radius: 5px;

    transition: box-shadow, .5s;

}

#form #container #botoes #acessar button:hover{
    box-shadow: 0px 0px 0px 0px var(--boxShadow);

}

#form #container #botoes #cadastro{
    width: 80%;
    height: auto;

}

#form #container #botoes #cadastro button {
    padding: 4%;
    width: 92%;
    height: auto;

    border: none;

    font-size: 14px;
    font-weight: 600;
    color: var(--text-bold);

    background-color: var(--buttom-purple);

    box-shadow: 0px 3px 5px -5px var(--boxShadow);

    border-radius: 5px;

    transition: background-color, box-shadow, color, .5s;

}

#form #container #botoes #cadastro button:hover{
    background-color: var(--buttom-pink);

    box-shadow: 0px 0px 0px 0px var(--boxShadow);

    color: var(--text-white);

}

@media(min-width: 1024px) {

}

@media(min-width: 768px) and (max-width: 1023px){

}

@media(min-width: 361px) and (max-width: 767px){
    html, body {
        flex-direction: column;
    
    }

}

@media(max-width: 360px){
    html, body {
        flex-direction: column;
    
    }

}